h4 {
    display: inline;
}

#nb_search {
    text-align: center;
    padding-bottom: 50px;
}

#quicklinksMainSection {
    text-align: left;
}

.poster {
    float: left;
    margin-right: 20px;
}

.summary_text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.credits {
    padding: 20px;
}

/*h4 {*/
    /*display: inline;*/

/*}*/

.button {
    background-color: #fe2c09;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

h2 {
    display: block;
}

#combined-videos {
    display: block;
    float: left;
    padding-right: 10px;
}

#combined-photos {
    display: block;
    padding-top: 1px;
}

.item1 { grid-area: Movie1; }
.item2 { grid-area: Movie2; }
.item3 { grid-area: Movie3; }
.item4 { grid-area: Movie4; }
.item5 { grid-area: Movie5; }
.item6 { grid-area: Movie6; }


.grid-container {
    display: grid;
    grid-template-areas:
        'Movie1 Movie2 Movie3'
        'Movie4 Movie5 Movie6';
    grid-gap: 10px;
    /*background-color: lightgrey;*/
    padding: 10px;
    width: 260px;
    height: 300px;
}

.grid-container > div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    /*padding: 20px 0;*/
    /*font-size: 15px;*/
    /*width: 80px;*/
    /*height: 100px;*/
}

.cover {
    object-fit: cover;
}

.rightcornerlink {
    float: right;
}

.cast-list img {
    float: left;
    padding-right: 10px;
    width: 32px;
    height: 44px;
}


